@font-face {
    font-family: Gotham Medium Regular;
    src: url('../font/Gotham Medium Regular.ttf');
}

@font-face {
    font-family: Gotham Book Regular;
    src: url('../font/Gotham Book Regular.otf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.text-over-image-left {
    position: relative;
}

.text-over-image-right {
    position: relative;
}

.text1 {
    position: absolute;
    z-index: 10;
    color: white;
    left: 5%;
    border: dashed #FF2B06;
    border-width: thin;
    border-radius: 20px;
    text-align: center;
    top: 40%;
    width: 35%;
    padding: 50px;
}

.text1 h2 {
    font-family: Gotham Medium Regular;
    margin-left: 0px;
    font-size: 50px;
    text-align:center;
}

.text1 p
 {
    font-size:1.5em;
    font-family: Gotham Book Regular;
}

.text1 button {
    width: 300px;
    height: 50px;
    margin-left: 5%;
    border-radius: 50px;
    color: white;
    font-family: Gotham Medium Regular;
    font-size: 20px;
    font-weight: lighter;
    background: #FF2B06;
    border: solid #FF2B06;
    border-width: thin;
}

.text1 button:hover {
    background: transparent;
    color: #FF2B06;
}

.text2 {
    position: absolute;
    z-index: 10;
    color: white;
    right: 5%;
    top: 40%;
    border: dashed #FF2B06;
    border-radius: 20px;
    border-width: thin;
     text-align:center;
    width: 35%;
    padding: 50px;
}

.text2 h2 {
    font-family: Gotham Medium Regular;
    margin-left: 0px;
    font-size: 50px;
    text-align:center;
}

.text2 p {
  font-size:1.5em;
    font-family: Gotham Book Regular;
}

.text2 button {
    width: 300px;
    height: 50px;
    margin-left:5%;
    border-radius: 50px;
    color: white;
    font-family: Gotham Medium Regular;
    font-size: 20px;
    font-weight: lighter;
    background: #FF2B06;
    border: solid #FF2B06;
    border-width: thin;
}

.text2 button:hover {
    background: transparent;
    color: #FF2B06;
}

/*------------Section 2---------------*/

.section2 {
  height: 770px;
  width: 90%;
  margin:auto;
  overflow: hidden;
}





.text3 {
    margin-top: 20%;
    width: 100%;
    margin-left: 0%;
}



.text3 p {
    font-family: Gotham Book Regular;
    text-align: center;
}
 
.ml15 {
    font-family: Gotham Medium Regular;
    font-size: 60px;
    margin-left:10%;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom:3%;
  }
  
  .ml15 .word {
    display: inline-block;
    line-height: 1em;
  }

  .lead i
  {
      color:#FF2B06;
      font-weight: bold;
      margin-bottom: 20%;
  }
  .lead b
  {
      font-weight:bold;
      font-size:1.2em;
  }
 
/*------------------section 2 image animation --------------*/

.fadeIn {
    -webkit-animation: animat_show 3s;
    animation: animat_show 3s;
    visibility: visible !important;
}

@keyframes animat_show {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

/*--------------------section 2 ends--------------*/

/*-----------------------section 3 starts----------------*/

.section3 {

    overflow: hidden;
    margin-top: 50px;
    width: 100%;
    height: 770px;
    background-color: #0a0a0a;

}

.countdown {
    position: relative;
    text-align:center;

}

/*.text4 {
    position: absolute;
    z-index: 10;
    color: white;
    left: 10%;
    border-width: thin;
    border-radius: 20px;
    text-align: left;
    top: 25%;
    width: 100%;
    padding: 0px;

}*/

.countdown ul {
    width: 100%;
    margin-top: 200px;
}

.countdown li h2 {
    margin-left: 20px;
}


.countdown li 
{
    display: inline-block;
    color: #FF2B06;
    font-size: 27px;
    letter-spacing: 5px;
    font-family: Gotham Medium Regular;
    padding: 0px;
    text-transform: uppercase;
}
.countdown ul li:nth-child(3)
{
  padding-left:30px;
}
.countdown ul li:nth-child(5)
{
  padding-left:30px;
}
.countdown ul li:nth-child(7)
{
  padding-left:30px;
}
.countdown li span {
    display: block;
    color: #ffffff;
    font-family: Gotham Book Regular;
    font-size: 120px;
    margin-left: 10px;
}

/*--------------------section 3 ends-------------------*/


/*-----------------------section 4 starts------------*/

.section4 {
    /* border-bottom: solid #FF2B06; */
    width: 100%;
    margin-top: 25%;
    height: 700px;
    overflow: hidden;
}
.venue img
{
    margin-left:20%;
}
/* Create two equal columns that floats next to each other */
.column 
{
    background-color:#aaa;
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
/*--------------------section 4 text animation-------------------
.col1  strong {
  position: relative;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #FF2B06,#FF2B06);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
.col2  strong {
  position: relative;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #FF2B06,#FF2B06);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
  /*---------------section 4 text animation ends-------------------*/
/*-----------------------section 4 ends---------------*/

