@font-face
{
  font-family:Gotham Medium Regular;
  src: url('../font/Gotham Medium Regular.ttf');
}

@font-face
{
  font-family:Gotham Book Regular;
  src: url('../font/Gotham Book Regular.otf');
}

.navbar-toggler-icon
{
    background-image: url("../images/X.png") !important;
    background-size: 30px 50px !important;
}
   
.navbar-nav
{
    margin-left:3%;
    margin-top: 0px;
}
.navbar-nav .nav-item a
{   
    font-family:Gotham Medium Regular; 
    display: block;
    margin-left: 10px;
    padding: 0px;
   transition: 0.5s;
    border:1px solid white;
    border-radius:50px;
   letter-spacing: 2px;
   height:100%;
   transition: 0.5s;
}

.navbar-nav .nav-item a:hover
{
    color: #ff2b06 !important;
    transition: 0.5s;
   
}
.navbar-brand
{
  width: 16%;
  margin-left: 2%;
}
.active
{
  color: #ff2b06;
}

@media only screen and (max-width:1130px)
{
  
}